In [1]:
#Download and install package 'snscrape'
!pip install snscrape

Requirement already satisfied: snscrape in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (0.4.3.20220106)
Requirement already satisfied: lxml in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from snscrape) (4.8.0)
Requirement already satisfied: filelock in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from snscrape) (3.6.0)
Requirement already satisfied: beautifulsoup4 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from snscrape) (4.11.1)
Requirement already satisfied: requests[socks] in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from snscrape) (2.28.0)
Requirement already satisfied: soupsieve>1.2 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->snscrape) (1.26.9)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/akaashvenu/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->snscrape) (1.7.1)

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# query = "depression"
search = input('Search for your query : ')
tweets = []
limit = int(input('Number of tweets to be scraped : '))


for tweet in sntwitter.TwitterSearchScraper(search).get_items():
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

Search for your query : Suicide
Number of tweets to be scraped : 3500

/var/folders/7v/n91nt_cx6ps73bx6bp1d_k_m0000gn/T/ipykernel_41363/1579833380.py:14: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [3]:
#Assigning the scraped values in a df using pandas
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(df)

                          Date             User  \
0    2022-07-07 04:06:59+00:00    MalaimurasuTv
1    2022-07-07 04:06:48+00:00        rovrs1993
2    2022-07-07 04:06:37+00:00       Hola_Jonah
3    2022-07-07 04:06:36+00:00     Chandlahpete
4    2022-07-07 04:06:33+00:00  Yogendr89778547
...                        ...              ...
3495 2022-07-06 22:50:34+00:00      RyanDaly597
3496 2022-07-06 22:50:26+00:00     5overthemoon
3497 2022-07-06 22:50:22+00:00    donnienotokay
3498 2022-07-06 22:50:22+00:00    NakedDemocrat
3499 2022-07-06 22:50:17+00:00      CatferretVD

                                                  Tweet
0     12ஆம் வகுப்பு தேர்வில் தோல்வியால் மாணவன் தற்கொ...
1     @Lesbian_cxnt Wait so it’s a suicide thing? (2...
2     @DiscussingFilm Hoping this is another The Sui...
3     31 shooting incidents in Ohio within the last ...
4     #KanganaRanaut claims #JavedAkhtar threatened ...
...                                                 ...
3495  Dude I wanna buy suicide boy tickets so bad bu...
3496  @KateOsborneMP @graylcoleman171 as has been fo...
3497  @wikihow_suicide both of them use sign. blind ...
3498  https://t.co/HFc8eUaPRj\n\nExactly right!  Dem...
3499  @James_Hawke1 Maybe instead of putting Maxwell...

[3500 rows x 3 columns]

In [4]:
#Head of the dataframe
df.head()

,Date,User,Tweet
0,2022-07-07 04:06:59+00:00,MalaimurasuTv,12ஆம் வகுப்பு தேர்வில் தோல்வியால் மாணவன் தற்கொ...
1,2022-07-07 04:06:48+00:00,rovrs1993,@Lesbian_cxnt Wait so it’s a suicide thing? (2...
2,2022-07-07 04:06:37+00:00,Hola_Jonah,@DiscussingFilm Hoping this is another The Sui...
3,2022-07-07 04:06:36+00:00,Chandlahpete,31 shooting incidents in Ohio within the last ...
4,2022-07-07 04:06:33+00:00,Yogendr89778547,#KanganaRanaut claims #JavedAkhtar threatened ...

In [5]:
#Tail of the dataframe
df.tail()

,Date,User,Tweet
3495,2022-07-06 22:50:34+00:00,RyanDaly597,Dude I wanna buy suicide boy tickets so bad bu...
3496,2022-07-06 22:50:26+00:00,5overthemoon,@KateOsborneMP @graylcoleman171 as has been fo...
3497,2022-07-06 22:50:22+00:00,donnienotokay,@wikihow_suicide both of them use sign. blind ...
3498,2022-07-06 22:50:22+00:00,NakedDemocrat,https://t.co/HFc8eUaPRj\n\nExactly right! Dem...
3499,2022-07-06 22:50:17+00:00,CatferretVD,@James_Hawke1 Maybe instead of putting Maxwell...

In [6]:
#Removing the date and user columns in the dataframe
df = df.drop(columns = ['Date','User'])
print(df)

                                                  Tweet
0     12ஆம் வகுப்பு தேர்வில் தோல்வியால் மாணவன் தற்கொ...
1     @Lesbian_cxnt Wait so it’s a suicide thing? (2...
2     @DiscussingFilm Hoping this is another The Sui...
3     31 shooting incidents in Ohio within the last ...
4     #KanganaRanaut claims #JavedAkhtar threatened ...
...                                                 ...
3495  Dude I wanna buy suicide boy tickets so bad bu...
3496  @KateOsborneMP @graylcoleman171 as has been fo...
3497  @wikihow_suicide both of them use sign. blind ...
3498  https://t.co/HFc8eUaPRj\n\nExactly right!  Dem...
3499  @James_Hawke1 Maybe instead of putting Maxwell...

[3500 rows x 1 columns]

In [7]:
#Saving the dataframe to csv
df.to_csv('tweets.csv', sep='\t', encoding='utf-8')